<div class="wrapper badge">
	<div class="badge__stripe">
		<p class="badge__text">TestinU Text</p>
	</div>
	<div class="badge__shadow badge__shadow--top"></div>
	<div class="badge__shadow badge__shadow--bottom"></div>
</div>

<div class="wrapper badge1">
	<div class="badge1__stripe">
		<p class="badge1__text">TestinU Text</p>
	</div>
	<div class="badge1__shadow"></div>
</div>
