<div class="wrapper badge">
	<div class="badge__stripe">
		<p class="badge__text">TestinU Text</p>
	</div>
	<div class="badge__shadow badge__shadow--top"></div>
	<div class="badge__shadow badge__shadow--bottom"></div>
</div>

<div class="wrapper badge1">
	<div class="badge1__stripe">
		<p class="badge1__text">TestinU Text</p>
	</div>
	<div class="badge1__shadow"></div>
</div>

<div class="wrapper badge-svg">
	<div class="badge-svg__stripe">
		<p class="badge-svg__text">TestinU Text</p>
	</div>
	<svg
		class="badge-svg__shadow"
		viewBox="0 0 200 200"
		xmlns="http://www.w3.org/2000/svg"
	>
		<polygon
			points="0,50 50,100 200,100 200,50 150,0 0,50"
		/>
	</svg>
</div>
